extends layout

block content
  a(href='/register') Registrarse
  table 
    thead 
      tr 
        th Name
        th Email
    tbody 
      each user in data
        tr
          td #{user.name}
          td #{user.email}


